<% if notice.present? %>
  <p style="color: green"><%= notice %></p>
<% end %>
<div class="card glass-card">
  <div class="card-header d-flex flex-column text-center hero-color3 text-white p-2">
    <h2 class="m-0">New Score</h2>
  </div>
  <div class="card-body">
    <% if @score.errors.any? %>
      <div style="color: red;">
        <h4><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h4>
        <ul>
          <% @score.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-2">
      <%= render 'score_form' %>
    </div>
    <%= button_to 'Cancel', root_path, method: :get, class:"warning-btn" %>
  </div>
</div>
