<div class="card shadow">
  <div class="card-header d-flex justify-content-center text-center">
    <h1>Welcome to the 2024/2025 indoor golf season!</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive mb-4">
      <table class="table table-striped table-bordered mb-4">
        <thead>
          <tr>
            <th>Golfer</th>
            <th>Cap</th>
            <th>R1</th>
            <th>R2</th>
            <th>R3</th>
            <th>R4</th>
            <th>R5</th>
            <th>R6</th>
            <th>Total</th>
            <th>Net</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @standings.each_with_index do |standing| %>
            <tr class="h-25">
              <td><%= standing.email.split('@').first %></td>
              <td><%= standing.handicap %></td>
              <td><%= standing.round_1 || 0 %>/<strong><%=standing.round_1_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_1_points || 0 %></span></td>
              <td><%= standing.round_2 || 0 %>/<strong><%=standing.round_2_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_2_points || 0 %></span></td>
              <td><%= standing.round_3 || 0 %>/<strong><%=standing.round_3_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_3_points || 0 %></span></td>
              <td><%= standing.round_4 || 0 %>/<strong><%=standing.round_4_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_4_points || 0 %></span></td>
              <td><%= standing.round_5 || 0 %>/<strong><%=standing.round_5_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_5_points || 0 %></span></td>
              <td><%= standing.round_6 || 0 %>/<strong><%=standing.round_6_net || 0 %></strong>/<span class="text-danger fw-bold"><%= standing.round_6_points || 0 %></span></td>
              <td><%= standing.total_score %></td>
              <% total_net = (standing.round_1_net || 0) + (standing.round_2_net || 0) + (standing.round_3_net || 0) +
                         (standing.round_4_net || 0) + (standing.round_5_net || 0) + (standing.round_6_net || 0)%>
              <td><strong><%= total_net%></strong></td>
              <td class="text-danger fw-bold"><%= standing.total_points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= button_to 'Enter A new score', new_score_path, method: :get, class:"btn btn-success mb-2" %>
    <%= button_to 'View my scores', scores_path, method: :get, class:"btn btn-primary" %>
    <% if admin? %>
      <%= button_to 'View all scores', admin_scores_scores_path, method: :get, class:"btn btn-info mt-2" %>
    <% end %>
  </div>
</div>
<div class="card m-4 shadow-lg">
  <div class="card-header d-flex justify-content-center">
    <h2>Deets</h2>
  </div>
  <div class="card-body">
    <ul>
      <li class="text-danger">Round one is 78% of cap due to playing 14 holes</li>
      <li>Entry fee is <strong>$150</strong></li>
      <ul>Point breakdown(based on 6 golfers)
        <li>1st place - 6</li>
        <li>2nd place - 5</li>
        <li>3rd place - 4</li>
        <li>4th place - 3</li>
        <li>5th place - 2</li>
        <li>6th place - 1</li>
      </ul>
      <li>Reg Season lasts 5 months/rounds</li>
      <li>1st place gets <strong>$150</strong></li>
      <li>Top 4 make Matchplay Playoffs</li>
      <li>1 plays 4 / 2 plays 3</li>
      <li>Playoff winner gets remaining <strong>$750</strong></li>
    </ul>
  </div>
