<% if notice.present? %>
  <p style="color: green"><%= notice %></p>
<% end %>
<div class="card shadow border-success">
  <div class="card-header d-flex justify-content-center text-center hero-color3 text-white">
    <h1>Standings</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped table-light table-bordered mb-4">
        <thead>
          <tr>
            <th>Golfer</th>
            <th>Cap</th>
            <th>R1</th>
            <th>R2</th>
            <th>R3</th>
            <th>R4</th>
            <th>R5</th>
            <th>Total</th>
            <th>Net</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @standings.each_with_index do |standing| %>
            <tr class="h-25">
              <td><%= standing.email.split('@').first %></td>
              <td><%= standing.handicap %></td>
              <td><%= standing.round_1 || 0 %>/<span class="fw-bold"><strong><%=standing.round_1_net || 0 %></strong></span>/<span class="fw-bold hero-color text-shadow"><strong><%= standing.round_1_points || 0 %></span></strong></td>
              <td><%= standing.round_2 || 0 %>/<span class="Fw-bold"><strong><%=standing.round_2_net || 0 %></strong></span>/<span class="fw-bold hero-color text-shadow"><strong><%= standing.round_2_points || 0 %></span></strong></td>
              <td><%= standing.round_3 || 0 %>/<span class="fw-bold"><strong><%=standing.round_3_net || 0 %></strong></span>/<span class="fw-bold hero-color text-shadow"><strong><%= standing.round_3_points || 0 %></span></strong></td>
              <td><%= standing.round_4 || 0 %>/<span class="fw-bold"><strong><%=standing.round_4_net || 0 %></strong></span>/<span class="fw-bold hero-color text-shadow"><strong><%= standing.round_4_points || 0 %></span></strong></td>
              <td><%= standing.round_5 || 0 %>/<span class="fw-bold"><strong><%=standing.round_5_net || 0 %></strong></span>/<span class="fw-bold hero-color text-shadow"><strong><%= standing.round_5_points || 0 %></span></strong></td>
              <td><%= standing.total_score %></td>
              <% total_net = (standing.round_1_net || 0) + (standing.round_2_net || 0) + (standing.round_3_net || 0) +
                       (standing.round_4_net || 0) + (standing.round_5_net || 0) + (standing.round_6_net || 0)%>
              <td><span class="fw-bold"><strong><%= total_net%></strong></span></td>
              <td class="fw-bold"><strong><span class="hero-color text-shadow"><%= standing.total_points %></strong></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card m-4 shadow-lg border-success">
  <div class="card-header d-flex justify-content-center hero-color3 text-white">
    <h2>Deets</h2>
  </div>
  <div class="card-body">
    <ul>
      <li>Entry fee is <strong>$150</strong></li>
      <li>Reg Season lasts 5 months/rounds</li>
      <li>1st place gets <strong>$150</strong></li>
      <li>Top 4 make Matchplay Playoffs</li>
      <li>1 plays 4 / 2 plays 3</li>
      <li>Playoff winner gets remaining <strong>$$$</strong></li>
    </ul>
    <ul><strong>Points breakdown per round</strong>
      <li>1st place - 6</li>
      <li>2nd place - 5</li>
      <li>3rd place - 4</li>
      <li>4th place - 3</li>
      <li>5th place - 2</li>
      <li>6th place - 1</li>
      <li>7th & below - 0</li>
      <li>Ties split points</li>
    </ul>
  </div>
